<!DOCTYPE html>
<html>
  <head>
    <title>Fuelless</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" type="text/css"/>
  </head>
  <body>
  <div class="container">
    <div class="col-lg-10">
      <img src="img/map.png" alt="">
      <div id="information">
        <input  type="text" value="Price: blablabla euro" id="price">
        <input  type="text" value="Time: blablabla hours" id="time">
      </div>
    </div>
    <div class="col-lg-2">
      Something else
    </div>
  </div>
  </body>

</html>